# Pandas - missing data

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
d = {"A":[1,2,np.nan],'B':[1,np.nan,np.nan],'C':[1,2,3]}

In [4]:
d

{'A': [1, 2, nan], 'B': [1, nan, nan], 'C': [1, 2, 3]}

In [5]:
df = pd.DataFrame(d)

In [6]:
df

     A    B  C
0  1.0  1.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
df.fillna(value = 'Fill')

      A     B  C
0   1.0   1.0  1
1   2.0  Fill  2
2  Fill  Fill  3

In [8]:
df['A'].fillna(value = df["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64